{% extends "dj_miniblog/base.html" %}

{% load static %}

{% block title %} {{ title }}{% endblock title %}

{% block content %}

<div class="col-sm-10">
    <h3 class='text-white my-5'>About Page.</h3>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim laboriosam dicta sequi veniam ullam corporis eos quaerat omnis ut culpa recusandae, distinctio nobis rerum, dolorem quas aut harum deserunt reiciendis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure expedita ratione exercitationem dignissimos tempore impedit magnam voluptatum eum blanditiis officiis debitis quasi enim odio commodi, provident voluptate earum quia ex!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quia repellat blanditiis, repellendus dolorem ut suscipit obcaecati unde ea natus exercitationem ullam quae, nisi sed beatae voluptate error explicabo fugit asperiores odit enim assumenda quas quibusdam. Mollitia neque maxime reiciendis vero! Sapiente illo labore amet quibusdam, ut unde placeat odio!</p>

</div>
{% endblock content %}